body {
    font-family: 'Trebuchet MS';
    background-color: #48ddc8;
}

h1, h2, h3 {
    text-align: center;
    color: white;
    margin-top: 50px;
}

p {
    text-align: left;
    color: white;
    margin: 0 29%;
}

.our_links {
    text-align: center
}

form {
    text-align: center;
    margin-top: 50px;
}

label {
    display: none;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    border: solid darkcyan;
    border-radius: 14%;
}

input[type='text'],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS';
    font-size: 16px;
}

input[type='submit'] {
    font-family: 'Trebuchet MS';
    background-color: white;
    color: #48ddc8;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}

input[type='submit']:hover {
    font-family: 'Trebuchet MS';
    background-color: #48ddc8;
    color: white;
    border: white;
    border-radius: 4px;
}

textarea {
    height: 200px;
    font-size: 16px;
}

label, input, textarea {
    width: 50%;
    max-width: 600px;
    min-width: 600px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #48ddc8;
    font-size: 16px;
}
  
option {
    background-color: white;
    color: black;
    font-size: 16px;
}

.autocomplete-items {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 4px;
    margin-top: 50px;
    width: 40%;
    overflow-y: auto;
    transform: translateX(66%);
    text-align: center;
    padding: 12px 20px;
}
  