<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HashtagHelper</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/hyperlinks.css">
        <link rel="stylesheet" href="static/popup.css">
        <script src="static/popup.js"></script>
        <!-- <script src="static/dropdown.js"></script> --> 
        <!-- Have the dropdown code be in dropdown.js, not in the HTML itself, for better readability later. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3BVGehNIwyoFXC_mYgrOnntTbtMuzp20&libraries=places"></script>
        <script>
            function initAutocomplete() {
                // Bind autocomplete to location input field
                var locationInput = document.getElementById('location');
                var autocomplete = new google.maps.places.Autocomplete(locationInput);
            }
        </script>
        <script>
            var input = document.getElementById('location');
            var options = {
                types: ['(regions)'],
                componentRestrictions: {country: 'us'}
            };
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        </script>
    </head>
<body onload="initAutocomplete()">
    <h1>HashtagHelper</h1>
    <div class="center">
        <form action="/submit" method="POST" class="form">
            <h2>Location</h2>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" placeholder="Enter your business' address">
            <div class="input-group">
                <div class="input-group-item">
                    <h2>Industry</h2>
                    <label for="industry" >Industry</label>
                    <input type="text" id="industry" name="industry" placeholder="Enter your business' industry" required>
                </div>
            </div>
            <h2>Business Name</h2>
            <label for="business-name">Business Name</label>
            <input type="text" id="business-name" name="business-name" placeholder="Enter your business' name">
            <h2>Caption</h2>
            <label for="caption">Caption</label>
            <textarea id="caption" name="caption" placeholder="Enter a caption that you would use for your post"></textarea>
            <br><br>

            <input type="submit" value="Generate Hashtags">
            <br><br><br>
            <p>
                For questions, support, or feedback, email us at <a href="mailto:info.socialtechllc@gmail.com" target="_blank">info.socialtechllc@gmail.com</a>
            </p>
            <br><br>
        </form>
    </div>
    <div id="popup">
        <span class="close-btn">x</span>
        <div class="hashtags-box"></div>
        <button class="copy-button">Copy Hashtags</button>
    </div>
    <!-- <div id="dropdown"></div> -->
    <script> 
        let inp = document.getElementById("industry");

        // Gets a list of all Industries from hashtags.json
        // See get_hashtags() in app.py for more info
        fetch('/hashtags')
            .then(response => response.json())
            .then(data => {
                let arr = data; // Array of hashtags assigned to 'arr'
                autocomplete(inp, arr); // Call the autocomplete function with 'arr'
            })
            .catch(error => console.log(error));

        function autocomplete(inp, arr) {
            
            var currentFocus;
            
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                
                this.parentNode.appendChild(a);
                
                for (i = 0; i < arr.length; i++) {
                    
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    
                    b = document.createElement("DIV");
                    
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    
                        b.addEventListener("click", function(e) {
                        
                        inp.value = this.getElementsByTagName("input")[0].value;
                        
                        closeAllLists();
                    });
                    a.appendChild(b);
                    }
                }
            });
            
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    
                    currentFocus++;
                    
                    addActive(x);
                } else if (e.keyCode == 38) { 
                    
                    currentFocus--;
                
                    addActive(x);
                } else if (e.keyCode == 13) {
                    
                    e.preventDefault();
                    if (currentFocus > -1) {
                    
                    if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
            
                if (!x) return false;
            
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
                }
            }
            }
            
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    
        autocomplete(inp,arr)
    </script>
</body>
</html>